__azurite_db_table__.json

.python_packages
__pycache__
.venv
local.settings.json
GMG_BNP Paribas Noms Drp.pdf
pymupdf_test.pdf
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
.aider*
AzuriteConfig
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__blobstorage__/298436ec-45b9-466e-87d9-0f928aa7afec
__blobstorage__/c4d4333a-e8e9-418a-be92-db93a1fccf20
ffmpeg-7.1.1-essentials_build/
pretrained_models/
*.mp4
*.aac
*.wav
*.ass
*.TextGrid
*.txt
.vscode/
mfa_model/
*.zip
mfa_data/